<a href="https://colab.research.google.com/github/IVReddy81/pyspark/blob/main/Struct%20type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
schema1=StructType([StructField("id",IntegerType(),False),
                   StructField("name",StringType(),True),
                   StructField("cost",IntegerType(),True)])
data1=[(1,"king",100),(2,"king1",200)]
df1=spark.createDataFrame(data1,schema1)
df1.show()
df1.printSchema()

+---+-----+----+
| id| name|cost|
+---+-----+----+
|  1| king| 100|
|  2|king1| 200|
+---+-----+----+

root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = true)
 |-- cost: integer (nullable = true)

In [14]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
schema2=StructType([StructField("id",IntegerType(),False),
                   StructField("name",StructType([StructField("id1",StringType(),True),
                                                 StructField("id2",StringType(),True)]),True),
                   StructField("cost",IntegerType(),True)])
data2=[(1,("2","3"),100),(2,("4","6"),200)]
df2=spark.createDataFrame(data2,schema2)
df2.show()
df2.printSchema()

+---+------+----+
| id|  name|cost|
+---+------+----+
|  1|{2, 3}| 100|
|  2|{4, 6}| 200|
+---+------+----+

root
 |-- id: integer (nullable = false)
 |-- name: struct (nullable = true)
 |    |-- id1: string (nullable = true)
 |    |-- id2: string (nullable = true)
 |-- cost: integer (nullable = true)

In [19]:
from pyspark.sql.types import Row
per=Row("n1","n2","n3")
data3=[per(1,"ki",3),per(2,"jk",4),per(4,"fgyu",7)]
df3=spark.createDataFrame(data3)
df3.show()
df3.printSchema()

+---+----+---+
| n1|  n2| n3|
+---+----+---+
|  1|  ki|  3|
|  2|  jk|  4|
|  4|fgyu|  7|
+---+----+---+

root
 |-- n1: long (nullable = true)
 |-- n2: string (nullable = true)
 |-- n3: long (nullable = true)

In [25]:
from pyspark.sql.types import Row
per2=[Row(n1="jk",n2=(Row(2,3)),n3=8),
     Row(n1="hj",n2=(Row(7,8)),n3=9)]
df4=spark.createDataFrame(per2)
df4.show()
df4.printSchema()

+---+------+---+
| n1|    n2| n3|
+---+------+---+
| jk|{2, 3}|  8|
| hj|{7, 8}|  9|
+---+------+---+

root
 |-- n1: string (nullable = true)
 |-- n2: struct (nullable = true)
 |    |-- _1: long (nullable = true)
 |    |-- _2: long (nullable = true)
 |-- n3: long (nullable = true)

In [54]:
df3.withColumnRenamed("n1","e2").show() #renaming column from n1 to e2

+---+----+---+
| e2|  n2| n3|
+---+----+---+
|  1|  ki|  3|
|  2|  jk|  4|
|  4|fgyu|  7|
+---+----+---+

In [35]:
df3.withColumn("n3",(df3.n3)*10).show()  #n3=>n3*10

+---+----+---+
| n1|  n2| n3|
+---+----+---+
|  1|  ki| 30|
|  2|  jk| 40|
|  4|fgyu| 70|
+---+----+---+

In [43]:
from pyspark.sql.functions import lit
df6=df3.withColumn("n4",lit("10"))  #creating new column and assigning constant value
df6.show()

+---+----+---+---+
| n1|  n2| n3| n4|
+---+----+---+---+
|  1|  ki|  3| 10|
|  2|  jk|  4| 10|
|  4|fgyu|  7| 10|
+---+----+---+---+

In [51]:
col=["i1","i2","i3","i4"]
from pyspark.sql.types import Row
per=Row("n1","n2","n3","n4")
data3=[per(1,"ki",3,3),per(2,"jk",4,6),per(4,"fgyu",7,9),per(7,"rt",20,10)]
df5=spark.createDataFrame(data3,col)
df5.show()

+---+----+---+---+
| i1|  i2| i3| i4|
+---+----+---+---+
|  1|  ki|  3|  3|
|  2|  jk|  4|  6|
|  4|fgyu|  7|  9|
|  7|  rt| 20| 10|
+---+----+---+---+